# Created by .ignore support plugin (hsz.mobi)
.gitignore
.gradle/
.idea/.gitignore
.idea/compiler.xml
.idea/gradle.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/vcs.xml
build.gradle
gradle/wrapper/gradle-wrapper.properties
gradlew
gradlew.bat
settings.gradle
src/
